*{
    margin: 0px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .intro {
        background: red;
    }
}
  
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .intro {
        background: green;
    }
}
  
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .intro {
        background: blue;
    }
} 
  
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .intro {
        background: orange;
    }
} 
  
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    /* For ENTRY HOME Page */
    .intro {
        background-color: whitesmoke;
        height: 600px;
        width: 25%;
        margin-left: 35%;
        margin-top: 3%; 
    }
    .visitor {
        border: none;
        color: rgb(0, 0, 0);
        padding: 35px 95px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 26px;
        margin-top: 24%;
        margin-left: 17%;
        transition-duration: 0.4s;
        cursor: pointer;
    }
    .vehicle{
        border: none;
        color: rgb(0, 0, 0);
        padding: 35px 90px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 26px;
        margin-top: 10%;
        margin-left: 17%;
        transition-duration: 0.4s;
        cursor: pointer;
    }
    .guest {
        border: none;
        color: rgb(0, 0, 0);
        padding: 35px 97px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 26px;
        margin-top: 10%;
        margin-left: 17%;
        transition-duration: 0.4s;
        cursor: pointer;
    }
    .button1 {
        background-color: white; 
        color: black; 
        border: 2px solid #4CAF50;
        border-radius: 5px;
    }
      
    .button1:hover {
        background-color: #4CAF50;
        color: white;
        border: 2px solid #4CAF50;
        border-radius: 5px;
    }
    .menu{
        margin-left: 98%;
        height: 20px;
    }
    /* For VISITOR HOME Page */
    .visitor-home{
        background-color: whitesmoke;
        height: 600px;
        width: 25%;
        margin-left: 35%;
        margin-top: 4%; 
        padding-top: 2%;
        padding-left: 2%;
    }
    label{
        width: 100px;
    }
    input{
        width: 200px;
    }
    /* For Vehicle Page */
    .vehicle-home{
        background-color: whitesmoke;
        height: 600px;
        width: 25%;
        margin-left: 35%;
        margin-top: 4%; 
        padding-top: 2%;
        padding-left: 2%;
    }
    /* For Wait Page */
    .wait-home{
        background-color: whitesmoke;
        height: 570px;
        width: 23%;
        margin-left: 35%;
        margin-top: 4%; 
        padding-top: 2%;
        padding-left: 2%;
    }
    .clockdiv{
        margin-top: 65%;
        margin-left: 20%;
        font-family: 'Courier New', Courier, monospace;
        font-size: 60px;
    }
    /* For Guest */
    .guest-home{
        background-color: whitesmoke;
        height: 570px;
        width: 23%;
        margin-left: 35%;
        margin-top: 4%; 
        padding-top: 2%;
        padding-left: 2%;
    }
}

