
    {{!-- Create a nav bar --}}
    {{!-- You can add image also instead of 'Admin Page' --}}
    {{!-- NOTE: The .ml-auto class automatically aligns elements to the right.  --}}
    <nav class="navbar navbar-expand-lg navbar-dark"  style="background-color: #563d7c;">
    <a class="navbar-brand" href="/admin">Admin Page</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active"><a class="nav-link" href="/admin">Home</a></li> {{!-- Change below urls to admin/given_url --}}
      {{#if user }}
        <li class="nav-item"><a class="nav-link" href="/admin/profile">Profile</a></li>
        <li class="nav-item"><a class="nav-link" href="/admin/visitors">Visitors</a></li>
        <li class="nav-item"><a class="nav-link" href="/admin/requests">Requests</a></li>
        <li class="nav-item"><a class="nav-link" href="/auth/logout">Logout</a></li>
      {{else}}
        <li class="nav-item"><a class="nav-link" href="/admin/login">Login</a></li>
        <li class="nav-item"><a class="nav-link" href="/admin/register">Register</a></li>
      {{/if}}
    </ul>
    </div>
  </nav>

 {{!-- bootstrap classes are defined below --}}
  <div class="container mt-4">
    <div class="jumbotron">
      {{#if user }}
        <h1 class="display-4">Welcome, {{user.name}}</h1>
      {{else}}
        <h1 class="display-4">Welcome, Admin</h1>
      {{/if}}
    </div>
  </div>




