
    {{!-- Create a nav bar --}}
    <nav> 
    <h4>Admin Page</h4>
    <ul>
      <li><a href="/">Home</a></li> {{!-- Change below urls to admin/given_url --}}
      {{#if user }}
        <li><a href="/profile">Profile</a></li>
        <li><a href="/">Requests</a></li>
        <li><a href="/auth/logout">Logout</a></li>
      {{else}}
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
      {{/if}}
    </ul>
  </nav>

 {{!-- bootstrap classes are defined below --}}
  <div class="container mt-4">
    <div class="jumbotron">
      {{#if user }}
        <h1 class="display-4">Welcome, {{user.name}}</h1>
      {{else}}
        <h1 class="display-4">Welcome, Admin</h1>
      {{/if}}
    </div>
  </div>
