  <nav class="navbar navbar-expand-lg navbar-dark"  style="background-color: #563d7c;">
    <a class="navbar-brand" href="/admin">Admin Page</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" href="/admin">Home</a></li> {{!-- Dont just write admin always write /admin --}}
      <li class="nav-item active"><a class="nav-link" href="/admin/login">Login</a></li>
      <li class="nav-item"><a class="nav-link" href="/admin/register">Register</a></li>
    </ul>
    </div>
  </nav>

  <div class="container mt-4">
    <div class="card">
      <div class="card-header">
        Login Form
      </div>
      <div class="card-body">
        <form action="/auth/login" method="POST">
         
          <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" class="form-control" id="email" name="email" required>
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
          </div>
          
          <button type="submit" class="btn btn-primary">Login</button>
        </form>
      </div>
    </div>

    {{#if message }}
      <h4 class="alert alert-danger mt-4">{{message}}</h4>
    {{/if}}
  </div>