  <nav>
    <h4>Admin Page</h4>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/profile">Profile</a></li>
      <li><a href="/">Requests</a></li>
      <li><a href="/auth/logout">Logout</a></li>
    </ul>
  </nav>

  <div class="container mt-4">
    <div class="row">
      <div class="col-4">
        <div class="card">
          <div class="avatar-ctn">
            {{!-- if i give just one "/", it will go to the public folder (node syntax) --}}
            <img src="/avatar.png" class="avatar" alt="user profile picture"/>
          </div>
          <div class="card-body">
            <h5 class="card-title">{{user.name}}</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">{{user.email}}</a>
          </div>
        </div>
      </div>

      <div class="col-8">
        <div class="card text-center">
          <div class="card-header">
            Profile Page
          </div>
          <div class="card-body">
            <h5 class="card-title">Hey {{user.name}} welcome back</h5>
            <p class="card-text">This is your profile page where you can add all the information about yourself</p>
            <a href="#" class="btn btn-primary">Go Somewhere</a>
          </div>
          <div class="card-footer text-muted">
            Made with <3
          </div>
        </div>
      </div>
    </div>
    

  </div>